/*
  MAIN
*/
main{
  background-color: #141923;
  width: calc(100vw - 230px);
  height: calc(100vh - 90px);
  overflow-y: auto;
}

/* Upgrade */
.upgrade{
  background-color: rgba(0, 0, 0, 0.282);
  width: calc(100vw - 230px);
  height: 90px;
  position: fixed;
  z-index: 999;
}
.upgrade button{
  text-align: right;
  vertical-align: middle;
  padding:10px 30px;
  color: white;
  background: none;
  border: 1px solid white;
  border-radius: 30px;
  float: right;
  margin: 27px 20px;
  cursor: pointer;
  transition: .7s;
}

.upgrade button:hover{
  scale: 1.1;
}

/* Menu */
.sections{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sections ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
}
.sections ul li{
  display: inline-block;
}

.sections ul li a{
  color: #757575;
  font-size: 12px;
}

.focus-lime{        
  width: 100%;
  position: relative;
  left: 13px;
  top: 10px;
  width: 70%;
  border-bottom: 3px solid #B6FF33;
  z-index: 1;
}


.sections ul li a:hover{
  color: white;
}
/* Cards */
.recent, 
.for-you, 
.artists{
  width: 100%;
}

.cards h1{
  color: white;
  font-size: x-large;
  font-weight: bold;
  margin: 0 1%;
}

.cards h2{
  padding: 10px;
}


.cover img{
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay{
  position: relative;
}

.playcard{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}


.overlay:hover .playcard{
  opacity: 1;

}


.playcard i{
  color: white;
  font-size: 300%;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.round img,
.round .playcard{
  border-radius: 50%;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.cover{
  width: calc((100% / 6) - 2%);
  min-width: 90px;
  margin: 30px 1% 30px;
  cursor: pointer;
  height: 100%;
}

.last{
  margin: 30px 0;
}

.cover h2,
.cover p{
  text-align: center;
}

.cards h2{
  font-size: 16px;
  color: white;
}
